<%- include('../partials/header') %>

<h1>Updating your Post</h1>

<form id="new-form" action="/posts" method="PUT">
    <label>Location:</label>
    <input type="text" name="location" value="<%= post.location%>">
    <label>Continent:</label>
        <select name="continent">
            <option id="disabled-cont" value="<%= post.continent %>" selected disabled hidden>Select an Option </option>
            <option value="North America">North America</option>
            <option value="South America">South America</option>
            <option value="Asia">Asia</option>
            <option value="Africa">Africa</option>
            <option value="Europe">Europe</option>
            <option value="Oceania">Oceania</option>
            <option value="Antartica">Antartica</option>
        </select>
    <label>Photo:</label>
    <input type="text" name="photo" value="<%= post.photo%>">
    <label>Rating:</label>
    <select name="rating">
        <option value="<%= post.rating %>" selected disabled hidden>Give a rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <label>Description:</label>
    <textarea id="desc-Box" type="text" name="description" wrap="true" value="<%= post.description%>"></textarea>
    <input type="submit" value="Update Post">
</form>


<%- include('../partials/footer') %>