<%- include('../partials/header') %>


<h1><%= title %></h1>

<section id="user-page">
    <img id="postAvatar" src="<%= post.userAvatar %>">
    <div id="postUserName"><%= post.userName %></div>
    <div id="location">Location: <%= post.location %></div>
    <div id="continent">Continent: <%= post.continent %></div>
    <div id="photo">Photo: <a href="<%= post.photo %>"><%= post.photo %></a></div>
    <div id="rating">Rating: <%= post.rating %></div>
    <div id="description">Description: <%= post.description %></div>
</section>

<% if (user?._id.equals(post.user)) { %>
    <section id="actButts">
      <form action="/posts/<%= post._id %>/edit" method="GET">
        <button id="actionButton" type="submit">✏️</button>
      </form>
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button id="actionButton" type="submit" onclick="return confirm('Are you sure you want to delete this post?');">❌</button>
      </form>
    </section>
<% } %>


<div id="comBox">
<% if (user) { %>
    <form id="commentAdd" method="POST"
    action="/posts/<%= post._id %>/comments">
    <label>Comments:</label>
    <textarea id="textArea" name="content"></textarea>
    <input type="submit" value="Add Comment">
  </form>
  <% } %>
   
<% if (post.comments.length) { %>
    <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Comment</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="form-id">
          <% post.comments.forEach(function(c) { %>
            <tr>
              <td id="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer"> <%= c.userName %></td>
              <td><%= c.createdAt.toLocaleDateString() %></td>
              <td><%= c.content %></td>
              <td>
                <% if (user?._id.equals(c.user)) { %>
                  <!-- <button id="editButt">Edit</button> -->
                  <div id="f" class="invisible-form">
                    <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
                      <input id="commentBubble" name="text" type="text" value="<%= c.text %>">
                      <button id="edits" type="submit">✏️</button>
                    </form>
                    <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                      <button id="editsX" type="submit" onclick="return confirm('Are you sure you want to delete this comment?');">❌</button>
                    </form>
                  </div>
                <% } %>
              </td>
            </tr>
          <% }); %>
          <tr>
            <td colspan="2"></td>
            <td>
          </tr>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Comments Yet. Be The First!</h5>
    <% } %>
</div>

<!-- <script>
const form = document.getElementById('f');
document.getElementById('form-id').addEventListener('click', function(evt) {
  console.log(evt.target.tagName);
  evt.preventDefault();
  if (evt.target.tagName == "BUTTON") {
    form.classList.add("visible-form");
    form.classList.remove("invisible-form");
  // } else if (evt.target == ) {
  //   .classList.add("invisible-form");
  //   .classList.remove("visible-form");
   }
});
</script> -->
<%- include('../partials/footer') %>